langchain
langchain-openai
langchain-text-splitters
langchain-postgres
psycopg[binary,pool]
pypdf
python-docx
unstructured
python-dotenv
tiktoken
python-pptx
faiss-cpu
langchain_community
docx2txt
uvicorn
fastapi
requests
huggingface_hub
pyngrok
